<footer class="footer-style">
  <div class="container-fluid bg-dark">
    <div class="row px-2">
      <div class="col offset-md-2 pt-4">
        <h3 class="text-white italic-title mt-3">Catégories</h3>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">News</a>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">Recettes</a>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">Découvertes</a>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <h3 class="text-white italic-title mt-3">Archives</h3>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">2019</a>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">2018</a>
      </div>
    </div>
    <div class="row px-2">
      <div class="col offset-md-2">
        <a class="text-white" href="#">2017</a>
      </div>
    </div>
    <div class="row p-2">
      <div class="col col-lg-4 offset-md-2">
        <h5 class="text-white italic-title">Newsletter</h5>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-4 offset-md-2 mb-2">
        <input class="form-control" type="email" placeholder="Email..." />
      </div>
      <div class="form-group col-2 mb-2">
        <button type="submit" class="btn btn-outline-light">S'inscrire</button>
      </div>
    </div>
    <div class="row p-2">
      <div class="col offset-md-2">
        <h5 class="text-white italic-title">Partager</h5>
      </div>

    </div>
    <!-- ICONS -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-1 mb-2 mx-2 mx-md-0">
        <button class="btn btn-default bg-white"><img
            src="./img/icons/facebook.svg"
            alt=""
          /></button>
      </div>
      <div class="col-1 mb-2 mx-2 mx-md-0">
        <button class="btn btn-default bg-white"><img
            src="./img/icons/instagram.svg"
            alt=""
          /></button>
      </div>
      <div class="col-1 mb-2 mx-2 mx-md-0">
        <button class="btn btn-default bg-white"><img
            src="./img/icons/youtube.svg"
            alt=""
          /></button>
      </div>
      <div class="col-1 mb-2 mx-2 mx-md-0">
        <button class="btn btn-default bg-white"><img
            src="./img/icons/twitter.svg"
            alt=""
          /></button>
      </div>
    </div>

  </div>
</footer>