<div class="text-white text-center pt-4">
  <img
    src="./img/logo_square_white.png"
    class="img-fluid"
    alt="Logo"
    width="75px"
  />
  <h1 class="italic-title">Cui'zine</h1>
  <h3 class="italic-title">Le mag cuisine</h3>
</div>