<section>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="./img/team/tony.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Tony</h3>
        <p class="team">Rédacteur en chef</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="./img/team/clementine.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Clémentine</h3>
        <p class="team">Journaliste culinaire</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="./img/team/antoine.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Antoine</h3>
        <p class="team">Goûteur professionnel</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="./img/team/tony.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Tony</h3>
        <p class="team">Rédacteur en chef</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="./img/team/clementine.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Clémentine</h3>
        <p class="team">Journaliste culinaire</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
        <img
          src="./img/team/antoine.jpg"
          class="img-fluid rounded-circle team-photo"
          alt="photo"
        />
        <h3 class="italic-title">Antoine</h3>
        <p class="team">Goûteur professionnel</p>
      </div>
      <div class="col-lg-3 d-none d-lg-block justify-content-end">
        <div class="col">
          <h5 class="italic-title">Recherche</h5>
        </div>

      </div>
    </div>
  </div>
</section>