<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/team.css">
</head>

<body>

    <!-- NAV BAR + TITLE -->
    <header>
        <div class="header-image">
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
                <a href="#" class="navbar-brand title-brand mx-4">Cui'Zine</a>
                <button class="navbar-toggler mx-4" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end mx-4" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link normal-title" href="./index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-title active" href="./team.html">Equipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-title" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link normal-title" href="./contact.html">Contact</a>
                        </li>
            </nav>

            <div class="text-white text-center mt-4 pt-4">
                <h1 class="team-title mb-3">On apprend en enseignant</h1>
                <h3 class="team-title my-1">Un pour tous et tous pour un</h3>
            </div>
        </div>
    </header>

    <!-- PAGE BEGINNING -->
    <section>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="./img/team/tony.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Tony</h3>
                    <p class="team">Rédacteur en chef</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="./img/team/clementine.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Clémentine</h3>
                    <p class="team">Journaliste culinaire</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="./img/team/antoine.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Antoine</h3>
                    <p class="team">Goûteur professionnel</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="./img/team/tony.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Tony</h3>
                    <p class="team">Rédacteur en chef</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <img src="./img/team/clementine.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Clémentine</h3>
                    <p class="team">Journaliste culinaire</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
                    <img src="./img/team/antoine.jpg" class="img-fluid rounded-circle team-photo" alt="photo">
                    <h3 class="italic-title">Antoine</h3>
                    <p class="team">Goûteur professionnel</p>
                </div>
                <div class="col-lg-3 d-none d-lg-block justify-content-end">
                    <div class="col">
                        <h5 class="italic-title">Recherche</h5>
                    </div>

                </div>
            </div>


        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container-fluid bg-dark">
            <div class="row px-2">
                <div class="col offset-md-2 pt-4">
                    <h3 class="text-white italic-title mt-3">Catégories</h3>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">News</a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">Recettes</a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">Découvertes</a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <h3 class="text-white italic-title mt-3">Archives</h3>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">2019</a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">2018</a>
                </div>
            </div>
            <div class="row px-2">
                <div class="col offset-md-2">
                    <a class="text-white" href="#">2017</a>
                </div>
            </div>
            <div class="row p-2">
                <div class="col col-lg-4 offset-md-2">
                    <h5 class="text-white italic-title">Newsletter</h5>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-4 offset-md-2 mb-2">
                    <input class="form-control" type="email" placeholder="Email...">
                </div>
                <div class="form-group col-2 mb-2">
                    <button type="submit" class="btn btn-outline-light">S'inscrire</button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col offset-md-2">
                    <h5 class="text-white italic-title">Partager</h5>
                </div>

            </div>
            <!-- ICONS -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-1 mb-2 mx-2 mx-md-0">
                    <button class="btn btn-default bg-white"><img src="./img/icons/facebook.svg" alt=""></button>
                </div>
                <div class="col-1 mb-2 mx-2 mx-md-0">
                    <button class="btn btn-default bg-white"><img src="./img/icons/instagram.svg" alt=""></button>
                </div>
                <div class="col-1 mb-2 mx-2 mx-md-0">
                    <button class="btn btn-default bg-white"><img src="./img/icons/youtube.svg" alt=""></button>
                </div>
                <div class="col-1 mb-2 mx-2 mx-md-0">
                    <button class="btn btn-default bg-white"><img src="./img/icons/twitter.svg" alt=""></button>
                </div>
            </div>

        </div>


    </footer>
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>